[submodule "AC"]
	path = AC
	url = https://github.com/EA31337/Strategy-AC
[submodule "AD"]
	path = AD
	url = https://github.com/EA31337/Strategy-AD
[submodule "ADX"]
	path = ADX
	url = https://github.com/EA31337/Strategy-ADX
[submodule "AMA"]
	path = AMA
	url = https://github.com/EA31337/Strategy-AMA.git
[submodule "ASI"]
	path = ASI
	url = https://github.com/EA31337/Strategy-ASI.git
[submodule "ATR"]
	path = ATR
	url = https://github.com/EA31337/Strategy-ATR
[submodule "ATR_MA_Trend"]
	path = ATR_MA_Trend
	url = https://github.com/EA31337/Strategy-ATR_MA_Trend.git
[submodule "Alligator"]
	path = Alligator
	url = https://github.com/EA31337/Strategy-Alligator
[submodule "Awesome"]
	path = Awesome
	url = https://github.com/EA31337/Strategy-Awesome
[submodule "BWMFI"]
	path = BWMFI
	url = https://github.com/EA31337/Strategy-BWMFI
[submodule "Bands"]
	path = Bands
	url = https://github.com/EA31337/Strategy-Bands
[submodule "BearsPower"]
	path = BearsPower
	url = https://github.com/EA31337/Strategy-BearsPower
[submodule "BullsPower"]
	path = BullsPower
	url = https://github.com/EA31337/Strategy-BullsPower
[submodule "CCI"]
	path = CCI
	url = https://github.com/EA31337/Strategy-CCI
[submodule "Chaikin"]
	path = Chaikin
	url = https://github.com/EA31337/Strategy-Chaikin.git
[submodule "Demo"]
	path = Demo
	url = https://github.com/EA31337/Strategy-Demo.git
[submodule "DEMA"]
	path = DEMA
	url = https://github.com/EA31337/Strategy-DEMA.git
[submodule "DeMarker"]
	path = DeMarker
	url = https://github.com/EA31337/Strategy-DeMarker
[submodule "ElliottWave"]
	path = ElliottWave
	url = https://github.com/EA31337/Strategy-ElliottWave
[submodule "Envelopes"]
	path = Envelopes
	url = https://github.com/EA31337/Strategy-Envelopes
[submodule "Force"]
	path = Force
	url = https://github.com/EA31337/Strategy-Force
[submodule "Fractals"]
	path = Fractals
	url = https://github.com/EA31337/Strategy-Fractals
[submodule "Gator"]
	path = Gator
	url = https://github.com/EA31337/Strategy-Gator
[submodule "HeikenAshi"]
	path = HeikenAshi
	url = https://github.com/EA31337/Strategy-HeikenAshi
[submodule "Ichimoku"]
	path = Ichimoku
	url = https://github.com/EA31337/Strategy-Ichimoku
[submodule "Indicator"]
	path = Indicator
	url = https://github.com/EA31337/Strategy-Indicator
[submodule "MA"]
	path = MA
	url = https://github.com/EA31337/Strategy-MA
[submodule "MACD"]
	path = MACD
	url = https://github.com/EA31337/Strategy-MACD
[submodule "MFI"]
	path = MFI
	url = https://github.com/EA31337/Strategy-MFI
[submodule "Momentum"]
	path = Momentum
	url = https://github.com/EA31337/Strategy-Momentum
[submodule "OBV"]
	path = OBV
	url = https://github.com/EA31337/Strategy-OBV
[submodule "OsMA"]
	path = OsMA
	url = https://github.com/EA31337/Strategy-OsMA
[submodule "Pattern"]
	path = Pattern
	url = https://github.com/EA31337/Strategy-Pattern.git
[submodule "Pinbar"]
	path = Pinbar
	url = https://github.com/EA31337/Strategy-Pinbar.git
[submodule "Pivot"]
	path = Pivot
	url = https://github.com/EA31337/Strategy-Pivot.git
[submodule "RSI"]
	path = RSI
	url = https://github.com/EA31337/Strategy-RSI
[submodule "RVI"]
	path = RVI
	url = https://github.com/EA31337/Strategy-RVI
[submodule "SAR"]
	path = SAR
	url = https://github.com/EA31337/Strategy-SAR
[submodule "SAWA"]
	path = SAWA
	url = https://github.com/EA31337/Strategy-SAWA
[submodule "SVE_Bollinger_Bands"]
	path = SVE_Bollinger_Bands
	url = https://github.com/EA31337/Strategy-SVE_Bollinger_Bands
[submodule "StdDev"]
	path = StdDev
	url = https://github.com/EA31337/Strategy-StdDev
[submodule "Stochastic"]
	path = Stochastic
	url = https://github.com/EA31337/Strategy-Stochastic
[submodule "SuperTrend"]
	path = SuperTrend
	url = https://github.com/EA31337/Strategy-SuperTrend.git
[submodule "TMA_CG"]
	path = TMA_CG
	url = https://github.com/EA31337/Strategy-TMA_CG.git
[submodule "TMA_True"]
	path = TMA_True
	url = https://github.com/EA31337/Strategy-TMA_True
[submodule "TMAT_SVEBB"]
	path = TMAT_SVEBB
	url = https://github.com/EA31337/Strategy-TMAT_SVEBB
[submodule "WPR"]
	path = WPR
	url = https://github.com/EA31337/Strategy-WPR
[submodule "ZigZag"]
	path = ZigZag
	url = https://github.com/EA31337/Strategy-ZigZag
